*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    /* color: red !important; */
    color: red;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.blue{
    color: blue;
    font-family: 'Rubik Spray Paint', cursive;
   
}

#yellow{
    color: yellow;
}

#pink{
    color: pink;
    font-family: 'Rubik Vinyl', cursive;
    /* font-weight: 400px; */
}

/* section{
    border: 1px solid black;
}

div:nth-child(3){
    color: red;
}

div:nth-child(2){
    color: green;
}

div:first-child{
    color: yellow;
}

div::first-line{
    font-size: 45px; 
}*/

/* div::before{
    content: "hello";
}
div::after{
    content: "hello";
} */

/* div:hover{
    color: yellow;
} */

div{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
    margin: 30px;
    overflow: hidden;

}

span{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}