/* div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.relative{
    position: relative;
    left: 100px;
}
.absolute{
    position: absolute;
    left: 100px;
} */

.fixed{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: red;
    position: fixed;
    left: 100px;
    top: 40px;
}